<nav class="navbar navbar-expand-xl">  
  <div class="container-fluid">

    <!-- Voci di navigazione principali: visibili sempre su desktop (xl+) -->
    @if (navBarItems.length > 1) {
      <ul class="navbar-nav d-none d-xl-flex flex-row">          
        @for (item of navBarItems; track item.label; let last = $last) {
          <li class="nav-item d-flex align-items-center">
            <a class="navbar-item" role="button" [routerLink]="item.route" routerLinkActive="active" (click)="item.action?.()">
              @if (item.icon) 
              {<i [class]="item.icon"></i>} 
              {{ item.label }}</a>
            @if(!last) {<span class="vr mx-2"></span>}
          </li>          
        }
      </ul>
    }

    <!-- Bottone hamburger: visibile solo sotto xl -->
    <button class="navbar-toggler d-xl-none" type="button" (click)="toggleOffcanvas()" aria-controls="mobileMenu" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>

<!-- Offcanvas: contiene tutto il menu su mobile -->
<div class="offcanvas offcanvas-start" style="--bs-offcanvas-width: 50%;" tabindex="-1" id="mobileMenu" aria-labelledby="mobileMenuLabel">
  <div class="offcanvas-header">
    <!-- <h5 class="offcanvas-title" id="mobileMenuLabel">Menu</h5> -->
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body d-flex flex-column">
    @if (navBarItems.length > 1) {
      <ul class="navbar-nav">          
        @for (item of navBarItems; track item.label) {
          <li class="nav-item" style="margin: 8px 0;">
            <a class="navbar-item" role="button" [routerLink]="item.route" routerLinkActive="active" (click)="item.action?.(); closeOffcanvas()">
              {{ item.label }}
              @if (item.icon) 
              {<i [class]="item.icon" class="me-2"></i>} 
            </a>
          </li>             
        }
      </ul>
    }
  </div>
</div>