:host {
  display: block;
  position: sticky;
  top: 0;
  z-index: 1030; // stesso z-index che userebbe fixed-top/sticky-top di Bootstrap
}

nav {  
  background-color: var(--color-orange); 
  border-bottom: 1px solid var(--color-nav-border);
}

.navbar-item {
  color: var(--color-nav-bar-text);
  font-size: 20px;    
  text-decoration: none;  
}

.navbar-item:hover {
  text-decoration: underline;
}

.nav-divider { 
  display: flex; 
  align-items: 
  center; 
  margin: 0 8px;
}

.vr { 
  width: 1px;
  height: 30px; 
  color: rgba($color: var(--color-nav-border), $alpha: 1.0); 
  display:block;     
}

.offcanvas {
  background-color: var(--color-orange);
  color: var(--color-nav-bar-text);
}