@import 'bootstrap/scss/bootstrap';

:root {
  --color-bg: rgb(245, 245, 245);
  --color-nav-border: rgb(33, 37, 41);
  --color-orange: #ff9827;
  --dot-size: clamp(0.9rem, 2.5vw, 1.5rem);
}

html, body { height: 100%; }
body { 
  margin: 0; 
  font-family: Saira, "Helvetica Neue", sans-serif; 
  background-color: var(--color-bg);
}

//Gestisce il colore della scritta nelle tab inattive della navbar
.nav-link, .navbar-nav .nav-link.show{
  color: var(--bs-body-color);
  cursor: pointer;
}

.nav-link:hover {
  color: var(--bs-body-color);
  cursor: pointer;
}

.nav-link.active {
  background-color: var(--color-bg-card) !important;
  border-color: var(--color-border-card) !important;
  border-bottom-color: var(--color-bg-card) !important;
}

//Gestisce il colore della scritta nelle tab attive della navbar
.active {
  color : crimson !important;
}
